body{
    color: blueviolet;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    border-color: black;
    color: red;
}


#container {
    background-color: blue;
    color: red;
}